@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    --vigzi: #b56998;
    --kris: #697fb5;
}

/* charPick */

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.charPick-container {
    display: flex;
    column-gap: 40px;
}

.charPick {
    padding: 40px;
    border-radius: 40px;
    color: black;
    font-size: 40px;
}

.vigzi {
    background-color: var(--vigzi);
}

.vigzi-hover:hover {
    color: #ecf754;
}

.kris {
    background-color: var(--kris);
}

/* Chat */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #E9DAC5;
    display: flex;
}

.box {
    width: 100%;
    height: 94%;
    margin: 2rem 2rem 2rem 0;
    background-color: #E9DAC5;
    display: flex;
    justify-content: space-between;
}

.widget-container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.chat-container {
    width: 95%;
    background-color: #FFF4E3;
    border: 3px solid #5E483C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: center;
}

.chat {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.msg-day {
    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap: 1rem; */
    display: block;
}

.date-line {
    position: relative;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
}
.date-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(to right, #5E483C 0, #5E483C 4px, transparent 4px, transparent 8px);
    z-index: 0;
}
.date {
    background-color: #5E483C;
    color: white;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 100px;
    z-index: 1;
}

.msg {
    width: 90%;
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.msg-mine {
    float: right;
}

.msg-pic-container {
    width: 40px;
    height: 40px;
    border: 1px solid #5E483C;
    border-radius: 50%;
    padding: 0.5rem;
}
.bear-bg {
    background-color: #BECDF2;
}
.chicken-bg {
    background-color: #F2BEBE;
}

.msg-message {
    border: 1px solid #5E483C;
    border-radius: 20px;
    padding: 1rem;
}
.msg-message-mine {
    background-color: #FFFFFF;
}
.msg-message-other {
    background-color: #E6D1B8;
}

.msg-time {
    align-self: center;
}

.chatbox {
    width: 50%;
    height: 13%;
    border: 2px solid #5E483C;
    border-radius: 20px;
    background-color: #FFFFFF;
}
