#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    /* height: 100vh; */
    /* text-align: center; */
    --vigzi: #b56998;
    --kris: #697fb5;
}

/* charPick */

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.charPick-container {
    display: flex;
    column-gap: 40px;
}

.charPick {
    padding: 40px;
    border-radius: 40px;
    color: black;
    font-size: 40px;
}

.vigzi {
    background-color: var(--vigzi);
}

.vigzi-hover:hover {
    color: #ecf754;
}

.kris {
    background-color: var(--kris);
}

/* Chat */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #E9DAC5;
    display: flex;
}

.box {
    width: 100%;
    height: 94%;
    margin: 2rem 2rem 2rem 0;
    background-color: #E9DAC5;
    display: flex;
    justify-content: space-between;
}

.widget-container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.chat-container {
    width: 95%;
    background-color: #FFF4E3;
    border: 3px solid #5E483C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.chat {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
}

.chatbox {
    width: 50%;
    height: 13%;
    border: 3px solid #5E483C;
    border-radius: 20px;
    background-color: #FFFFFF;
}
