@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    /* --vigzi: #b56998; */
    /* --kris: #697fb5; */
}

/* Login and Registration Forms */
.credentials-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9DAC5;
    color: #5E483C;
}

.credentials-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.credentials-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials-button {
    background-color: #E6D1B8;
    border: 1px solid #5E483C;
    border-radius: 10px;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.credentials-button:active {
    transform: scale(0.9);
}

/* Friends */

.friends-container {
    width: 95%;
    background-color: #FFF4E3;
    border: 3px solid #5E483C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: start;
    row-gap: 2rem;
}

.friend-img-container {
    width: 40px;
    height: 40px;
    border: 1px solid #5E483C;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.friend-img-container:active {
    transform: scale(0.9);
}
.friend-name {
    text-align: center;
}

.requests-title {
    text-align: center;
}
.request {
    display: flex;
    column-gap: 1rem;
}
.request button {
    background-color: #E6D1B8;
    border-radius: 10px;
}

.add-friend-button {
    background-color: #E6D1B8;
    border-radius: 50%;
    padding: 3px 10px;
}

/* Friend form */

.black-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend-form {
    width: fit-content;
    height: fit-content;
    padding: 5rem;
    background-color: #E9DAC5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
}

.friend-form button {
    background-color: #E6D1B8;
    border: 1px solid black;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.friend-form button:active {
    transform: scale(0.9);
}

/* Chat */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #E9DAC5;
    display: flex;
    color: #5E483C;
}

.box {
    width: 100%;
    height: 94%;
    margin: 2rem 2rem 2rem 0;
    background-color: #E9DAC5;
    display: flex;
    justify-content: space-between;
}

.widget-container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.chat-container {
    width: 95%;
    background-color: #FFF4E3;
    border: 3px solid #5E483C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
}

.chat {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.msg-day {
    display: block;
}

.date-line {
    position: relative;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
}
.date-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(to right, #5E483C 0, #5E483C 4px, transparent 4px, transparent 8px);
    z-index: 0;
}
.date {
    background-color: #5E483C;
    color: white;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 100px;
    z-index: 1;
}

.msg {
    width: 90%;
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.msg-mine {
    float: right;
    justify-content: end;
}

.msg-pic-container {
    width: 40px;
    height: 40px;
    border: 1px solid #5E483C;
    border-radius: 50%;
    padding: 0.5rem;
}

.msg-message {
    border: 1px solid #5E483C;
    border-radius: 20px;
    padding: 1rem;
}
.msg-message-mine {
    background-color: #FFFFFF;
}
.msg-message-other {
    background-color: #E6D1B8;
}

.msg-time {
    align-self: center;
}

.msg-save-button {
    align-self: center;
    border: 1px solid #5E483C;
    border-radius: 50%;
    padding: 1px 8px;
    cursor: pointer;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.msg-save-button::before {
    font-style: bold;
    content: '♡';
    color: #5E483C;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.msg-save-button.filled::before {
    content: '♥';
    transform: scale(1.1);
}

.chatbox {
    width: 50%;
    height: 9%;
    border: 2px solid #5E483C;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.locked-chatbox {
    width: 50%;
    height: 9%;
    border: 2px solid #5E483C;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbox-text {
    width: 90%;
    height: 100%;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #5E483C;
    overflow-y: scroll;
    resize: none;
    border: none;
}
.chatbox-text:focus {
    outline: none;
}

.chatbox-btn {
    width: 7%;
    cursor: pointer;
    user-select: none; 
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.chatbox-btn:active {
    transform: scale(0.9);
}

/* Settings */

.settings-container button {
    background-color: #E6D1B8;
    border-radius: 10px;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.settings-container button:active {
    transform: scale(0.9);
}

.settings-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Util classes */

.clickable {
    cursor: pointer;
    transition: transform 0.18s cubic-bezier(.15, .85, .3, 1.2);
}
.clickable:active {
    transform: scale(0.9);
}

.visible {
    display: absolute; 
}
.hidden {
    display: none;
}
