#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* --vigzi: #d980ed; */
  --vigzi: #b56998;
  /* --kris: #15d1b2; */
  --kris: #697fb5;

}

/* charPick */

.charPick-container {
  display: flex;
  column-gap: 40px;
}

.charPick {
  padding: 40px;
  border-radius: 40px;
  color: black;
  font-size: 40px;
}

.vigzi {
  background-color: var(--vigzi);
}

.vigzi-hover:hover {
  color: #ecf754;
}

.kris {
  background-color: var(--kris);
}

/* Chat */

.chat-container {
  /* background-color: white; */
  background-image: url("./assets/chat-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.5%, -49.8%);
  width: 345px;
  height: 613px;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  height: 463px;
  overflow-y: scroll;
}

.msg-container {
  width: 70%;
  margin: 30px 0 30px 20px;
  display: flex;
  flex-direction: column;
}

.left {
  margin: 30px 0 30px 20px;
}

.right {
  margin: 30px 20px 30px auto;
}

.msg-lbl {
  color: black;
}

.msg {
  padding: 4px;
  border: 1px solid black;
  border-radius: 10px;
  height: fit-content;
  color: black;
}

.chat-box {
  background-color: blue;
  width: 100%;
  height: 150px;
  margin-top: auto;
}

.chat-message {
  overflow-y: scroll;
  width: 92%;
  height: 125px;
  margin: 10px;
  resize: none;
}

.btn-heart {
  position: absolute;
  top: 797px;
  left: 915px;
  padding: 20px;
  border-radius: 50px;
  transition: all 200ms;
}

.btn-heart:active {
  scale: 1.1;
}
