#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --vigzi: #b56998;
    --kris: #697fb5;
}

/* charPick */

.charPick-container {
    display: flex;
    column-gap: 40px;
}

.charPick {
    padding: 40px;
    border-radius: 40px;
    color: black;
    font-size: 40px;
}

.vigzi {
    background-color: var(--vigzi);
}

.vigzi-hover:hover {
    color: #ecf754;
}

.kris {
    background-color: var(--kris);
}

/* Chat */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container {
    background-color: aliceblue;
    /* background-image: url("./assets/chat-bg.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.chat-box {
    background-color: lime;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 4px;
}

.chat-message {
    overflow-y: scroll;
    resize: none;
    height: 100%;
    width: 90%;
}

.btn-heart {
    height: fit-content;
    padding: 20px;
    border-radius: 50px;
    transition: all 200ms;
}

.btn-heart:active {
    scale: 1.1;
}
